@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex; /* added so that the modal is container flex container with icon and another container as flex items.*/
  padding: 10px; /* added to give some spacing around the modal border*/
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* added so that the icon shrinks to follow the size of the container.*/
  margin-right: 10px; /* added gap between icon and the text box*/
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  font-size: 15px; /**/
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
  font-size: 15px; /* added to make the font a bit bigger relative to the text above it. Otherwise it feels small.*/
}

.container { /* add container to wrap the items next to icon - i.e the header, the close-button, the text and the continue/cancel buttons.*/
  display: flex;
  flex-direction: column; /*arrange as column so that header, text and buttons are arranged vertically.*/
  gap: 10px;  /*added a bit of spacing between the items.*/
}

.child1 { /*added container to wrap the header text and the close button.*/
  display: flex;
  justify-content: space-between; /* added so that the items are arranged at far-left and far-right of the box.*/
}

.header {
  font-weight: bold; /* added to make the text bigger an bold.*/
  font-size: larger;
}